@using rcliberty.Web.HelpersAndExtensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Churches in Liberty Missouri,  Liberty Missouri Churches, Assembly of God Church Liberty Missouri, Northland Kansas City Churches" />"
    <meta name="description" content="Are you looking for Churches in Liberty, Missouri? Restoration Church is a REAL Church with REAL people.">
    <title>Restoration Church | Churches in Liberty, MO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/font-awesome")


    <!-- datatables.net styles -->
    <link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@

    <!-- custom styles -->
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <!-- Google analytics (Global site tag -- gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127337513-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127337513-1');
    </script>

</head>
<body>


    <div class="spacer"></div>


    <div class="navbar navbar-inverse navbar-top">
        <div id="rc-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/restoration-church_logo.png" alt="Restoration Church Logo" />
            </a>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsActive("Home", "Discover")">
                        <a href="@Url.Action("Discover", "Home")">
                            Discover
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Ministries")">
                        <a href="@Url.Action("Ministries", "Home")">
                            Ministries
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Connect")">
                        <a href="@Url.Action("Connect", "Home")">
                            Connect
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Grow")">
                        <a href="@Url.Action("Grow", "Home")">
                            Grow
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Give")">
                        <a href="@Url.Action("Give", "Home")">
                            Give
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Podcasts")">
                        <a href="@Url.Action("Podcasts", "Home")">
                            Podcasts
                        </a>
                    </li>

                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
            @*<div id="event-reg" class="rc-btn">
                    <a href="@Url.Action("EventRegistration", "Home")">
                        Battle of the Bands Registration
                    </a>
                </div>*@
        </div>
        <div class="spacer"></div>
    </div>

    <!-- video template -->
    @*<video autoplay muted loop id="myVideo">
            <source src="~/Content/vid/Tribute-District 12_Bumper.mp4" type="video/mp4" />
        </video>

        <div class="content">
            <h1>Heading</h1>
            <p>Lorem ipsum...</p>
        </div>*@


    @*<video autoplay muted loop id="bg-vid">
            <source src="~/Content/vid/What A Beautiful Name - Hillsong Worship.mp4" type="video/mp4" />
        </video>*@
    <!-- fixed sidebar (social nav) -->

    <nav id="side-nav">
        <p href="#" id="close" onclick="closeSideNav()">&times;</p>
        <div onclick="openSideNav()">
            <ul>
                <li class="nav-item">
                    <a class="social-link" href="https://www.facebook.com/restoration.church.liberty/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="social-link" href="https://twitter.com/Rest_Church1" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
            </ul>
            <p href="#" id="social" class="social-text" @*onclick="openSideNav()"*@>social</p>
        </div>
    </nav>


    <div class="overlay"></div>

    <!-- display live-notification Sundays between 10am & 12pm -->
    @*@if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday
                         && DateTime.Now.Hour >= 10
                         && DateTime.Now.Hour <= 12)
        {*@
    <!-- live notification (live stream modal) -->
    <div id="live-notification" class="blink">
        <button type="button" class="btn rc-live-btn" data-toggle="modal" data-target="#live-video"><span class="dot"></span> LIVE</button>
        <p>Now streaming <span class="emphasis">The Experience</span></p>
    </div>
    @*}*@

    <!-- live-video-modal -->
    <div id="live-video" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="emphasis">The Experience</span>
                        <span style="font-weight: 800;">|</span>
                        <span style="color: #ff0000; font-weight: 800;">LIVE</span><br />
                        <b>@DateTime.Now.Date.ToLongDateString()</b>
                    </h4>
                </div>

                <div class="modal-body">
                    <!-- The Experience live stream -->
                    <iframe id="ls_embed_1539231289" src="https://livestream.com/accounts/27837009/events/8408291/player?width=960&height=540&enableInfoAndActivity=true&defaultDrawer=feed&autoPlay=true&mute=false" width="960" height="540" frameborder="0" scrolling="no" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>


    <div class="spacer"></div>
    <footer>
        <h3 id="address">
            Restoration Church | 1908 Plumbers Way | Liberty, MO | 64068<br /><br />
            hello@rcliberty.com | 816.415.1800
        </h3>
        <div class="container-half-screen">
            <img id="sunday-tag" src="~/Content/img/tags/sunday-tag.jpg" />
            <h4 id="service-times">
                The <span class="emphasis">Experience</span> 10:30 am
                <br />
                The <span class="emphasis">Capitol</span> 6:00 pm
            </h4>
        </div>
        <div class="container-half-screen">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3089.4748623185687!2d-94.45306099999999!3d39.254791000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c05596699748cd%3A0xd1ba2dfc1c16a90!2s1908+Plumbers+Way+%23400%2C+Liberty%2C+MO+64068!5e0!3m2!1sen!2sus!4v1441998880692" width="404" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clearfix"></div>

        <p id="dudercode">&copy; <span class="emphasis">@DateTime.Now.Year</span> - duder<span class="emphasis">code</span></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- datatables.net scripts -->
    <script src="~/Scripts/datatables.min.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>*@
    <!-- livestream script-->
    <script type="text/javascript" data-embed_id="ls_embed_1539231289" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>                 @RenderSection("scripts", required: false)
</body>
</html>

<script>
    //========== active nav ==========
    $(function () {
        $(document.getElementById("nav-links")).children("a").click(function () {
            //remove classes from all
            $("li").removeClass("active");
            //add class to active nav
            $(this).parent("li").addClass("active");
        });
    });

    //========== confirm connect ==========
    setTimeout(function () {
        $("#rc-connect-success").fadeOut(1000);
    }, 3000);

    //========== side nav ==========
    $(function () {
        $('#social').addClass('hidden');
    });

    var isClosed = false;

    function closeSideNav() {
        document.getElementById('side-nav').style.left = "-80px";
        isClosed = true;
        $('#social').removeClass('hidden');
    };

    function openSideNav() {
        document.getElementById('side-nav').style.left = "0px";
        isClosed = false;
        $('#social').addClass('hidden');
    };

    //========== live notification ==========
    //function stopBlink() {
    //    $('#live-notification').removeClass('blink');
    //}

    //function startBlink() {
    //    $('#live-notification').addClass('blink');
    //}
</script>