@using rcliberty.Web.HelpersAndExtensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoration Church | Churches in Liberty, MO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- datatables.net styles -->
    <link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@

    <!-- custom styles -->
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="spacer"></div>


    <div class="navbar navbar-inverse navbar-top">
        <div id="rc-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/restoration-church_logo.png" alt="Restoration Church Logo" />
            </a>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsActive("Home", "Discover")">
                        <a href="@Url.Action("Discover", "Home")">
                            Discover
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Connect")">
                        <a href="@Url.Action("Connect", "Home")">
                            Connect
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Grow")">
                        <a href="@Url.Action("Grow", "Home")">
                            Grow
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Give")">
                        <a href="@Url.Action("Give", "Home")">
                            Give
                        </a>
                    </li>
                    <li class="@Html.IsActive("Home", "Podcasts")">
                        <a href="@Url.Action("Podcasts", "Home")">
                            Podcasts
                        </a>
                    </li>

                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
            <div id="event-reg" class="rc-btn">
                <a href="@Url.Action("EventRegistration", "Home")">
                    Battle of the Bands Registration
                </a>
            </div>
        </div>
        <div class="spacer"></div>
    </div>

    <!-- video template -->
    @*<video autoplay muted loop id="myVideo">
            <source src="~/Content/vid/Tribute-District 12_Bumper.mp4" type="video/mp4" />
        </video>

        <div class="content">
            <h1>Heading</h1>
            <p>Lorem ipsum...</p>
        </div>*@


    @*<video autoplay muted loop id="bg-vid">
            <source src="~/Content/vid/What A Beautiful Name - Hillsong Worship.mp4" type="video/mp4" />
        </video>*@

    <div class="overlay"></div>

    <div class="container body-content">
        @RenderBody()
    </div>


    <div class="spacer"></div>
    <footer>
        <h3 id="address">Restoration Church | 1908 Plumbers Way | Liberty, MO</h3>
        <div class="container-half-screen">
            <img id="sunday-tag" src="~/Content/img/tags/sunday-tag.jpg" />
            <h4 id="service-times">
                The <span class="emphasis">Experience</span> 10:30 am
                <br />
                The <span class="emphasis">Capitol</span> 6:00 pm
            </h4>
        </div>
        <div class="container-half-screen">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3089.4748623185687!2d-94.45306099999999!3d39.254791000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c05596699748cd%3A0xd1ba2dfc1c16a90!2s1908+Plumbers+Way+%23400%2C+Liberty%2C+MO+64068!5e0!3m2!1sen!2sus!4v1441998880692" width="404" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clearfix"></div>

        <p id="dudercode">&copy; <span class="emphasis">@DateTime.Now.Year</span> - duder<span class="emphasis">code</span></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- datatables.net scripts -->
    <script src="~/Scripts/datatables.min.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(function () {
        $(document.getElementById("nav-links")).children("a").click(function () {
            //remove classes from all
            $("li").removeClass("active");
            //add class to active nav
            $(this).parent("li").addClass("active");
        });
    });

    setTimeout(function () {
        $("#rc-connect-success").fadeOut(1000);
    }, 3000);
</script>