@using theCapitol.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "login";
}

<div id="login">
    <div class="section-header text-center">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
    <div class="row">
        @*<div class="col-md-8">*@ @* <-- used with OAuth *@
        @*<div class="col-md-12">*@
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">access your account for the <span>Capitol</span></h4>
                <hr />
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-1 col-md-2 control-label login-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-1 col-md-2 control-label login-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-2">
                            <div class="checkbox remember-me">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-5">
                            <input type="submit" value="login" class="btn btn-default" />
                        </div>
                    </div>
                        <p id="register-link">
                            <a href="@Url.Action("Register", "Account")">click here to join the <span>Capitol</span></a>
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
            }
        </section>
    </div>
    @* TODO: uncomment once OAuth enabled (3rd party - Twitter, Facebook, etc.) *@
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}