@model theCapitol.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "register";
}

<div id="register">
    <div class="section-header text-center">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>create your account for the <span>Capitol</span></h4>
        <hr />
        <div class="form-group">
            @*<div class="text-center">
                @Html.ValidationSummary()
            </div>*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.InvitationCode, new { @class = "col-md-2 control-label register-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.InvitationCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.InvitationCode)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-9 col-md-3">
                <input type="submit" class="btn btn-default" value="i'm ready!" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
