@model theCapitol.Data.Connection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Connection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectionTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectionTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConnectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
